<footer class="p-5">
    <hr>
    <div class="row pt-4">
        <div class="col-md-6 col-lg-3 mb-3 ">
          <div class="d-flex align-items-center">
             <img src="../../assets/Standard Collection 12.png" alt="">
            <h5 class="fw-bold">MediLab Hospital</h5></div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
            <h5 class="fw-bolder mb-3">Quick Links</h5>
            <p>Home</p>
            <p>Appointment</p>
            <p>Service</p>
            <p>About Us</p>
            <p>Contact Us</p>
        </div>
        <div class="col-md-6 col-lg-3 mb-3 ">
            <h5 class="fw-bolder mb-3">Hours</h5>
           <div class="d-flex ">
            <div>
                <p>Monday:</p>
                <p>Tuesday:</p>
                <p>Wednesday:</p>
                <p>Thursday:</p>
                <p>Friday:</p>
              </div>
              <div>
              <p>9:00 - 18:00</p>
              <p>9:00 - 18:00</p>
              <p>9:00 - 18:00</p>
              <p>9:00 - 18:00</p>
              <p>9:00 - 18:00</p></div>
           </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
            <h5 class="fw-bolder mb-3">Contact</h5> 
            
            <p><fa-icon class="text-black" [icon]="faphone"></fa-icon>  000-000-000</p>
            <p><fa-icon class="text-black" [icon]="telegraph"></fa-icon>  info@email.com</p>
            <p><fa-icon class="text-black" [icon]="location"></fa-icon>  Kalutara South</p>
        </div>
    </div>
    </footer>
