
<div >
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>date Of book</th>
            <th>time</th>
            <th>write prescription</th>
          </tr>
        </thead>
        <tbody>
          <ng-container  class="text-center" *ngFor="let book of tabledata ">
            <ng-container *ngIf="book.status">
              <tr>
         
                <td >{{book.patName}}</td>
              <td>{{book.dateOfBook}}</td>
              <td>{{book.timeOfBook}}</td>
              <td> <button class="btn btn-primary" (click)="writePrescription(book.patID,book.id)">Write</button></td>
            
            </tr>
          </ng-container>
  
            
           </ng-container>
        </tbody>
      </table>
    </div>